---
import Sektion1 from "../hej/sektion1.astro"
import Sektion2 from "../hej/sektion2.astro"
import Sektion5 from "../hej/sektion5.astro"
import Sektion4 from "../hej/sektion4.astro"
---

<html lang="da">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<title>Astro</title>


	</head>
	<body>
		<Sektion1></Sektion1>
		<Sektion2></Sektion2>
		<Sektion5></Sektion5>
		<Sektion4></Sektion4>
	</body>
	</html>
	