---
---
<article>
       <div class="grid_sektion6_h1">
        <div class="sektion6_h1">
            <h1>ALBERTES CHAT MED GIRLTALK</h1>
        </div>
    </div>
    <hr>
    <div class="grid_sektion6_screenshot">
        <div class="screenshot">
            <img src="hand1 1.png" alt="hand">
        </div>
    </div>
    <hr>
    <div class="grid_sektion6_1_1">
        <p class="sektion6_text">GirlTalks chatrådgivning er for dig mellem 12 og 24 år. Du kan chatte med vores
            ungerådgivere hver aften
            eller sende en
            sms til os hele døgnet. Du er altid anonym og kan trygt dele dine tanker med os. Vi glæder os til at
            skrive med dig </p>
        <img class="sektion6_img" src="message1.png" alt="message">
    </div>
</article>
<style>
    * {
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
}
body {
  background-color: #f7cad9;
  margin: 120px 153px 120px 153px;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.sektion6_h1 {
  color: #ff2b51;
  text-align: center;
  font-size: 2rem;
}

.sektion6_text {
  margin-top: 3rem;
  margin-bottom: 3rem;
  color: #283ea4;
  font-size: 1.3rem;
}

@media (min-width: 800px) {
  .grid_sektion6_1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}
</style>