---
---
<article>
        <div class="grid_sektion4">
        <div class="sektion4_p1">
            <p>
                For Alberte var det som at balancere på en knivsæg. Hun følte sig både for ung til at tage livets
                alvorlige beslutninger
                og for gammel til at læne sig trygt op ad sine forældre. Hun befandt sig i en gråzone mellem ungdom og
                voksenliv, hvor
                ensomhed og fortvivlelse kunne snige sig ind på hende, når hun mindst ventede det.
            </p>
        </div>
        <div class="sektion4_p2">
            <p>Mange unge i Albertes alder oplever en lignende følelse af forvirring og usikkerhed. De står på tærsklen
                til
                voksenlivet, men er endnu ikke helt klar til at tage det store spring. De føler sig fanget mellem to
                verdener, hvor de
                hverken passer ind blandt de voksne eller de unge.</p>
        </div>
        <div class="sektion4_img">
            <img src="/src/img/hand1.png" alt="hand">
        </div>
    </div>
</article>
<style>
    * {
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
}
body {
  background-color: #f7cad9;
  margin: 120px 153px 120px 153px;
  color: #283ea4;
}

img {
  width: 50%;
  height: auto;
  display: block;
}

p {
  font-size: 1.3rem;
  max-width: 700px;
}

.sektion4_p1 {
  margin-bottom: 3rem;
}
</style>