---
import "../img/alberte_sektion1.png"
import "../img/alberte_sektion1_2.png"
import "../img/alberte_sektion1_3.png"
---
<article>
     <div class="section1_grid">
        <img class="img1" src="/src/img/stars_forgrund.png" alt="forgrund af stjerner til sektion 1">
        <img class="img2" src="/src/img/stars_forgrund.png" alt="forgrund af stjerner til sektion 2">
        <h1 class="overskrift1">ALENE MED DINE TANKER?</h1>
        <div class="line_overskrift1"></div>
        <h2 class="overskrift2_overst">GirlTalk webdok</h2>
        <div class="line_overskrift2"></div>
        <h3 class="underoverskrift1">Det var Alberte også...</h3>
        <div class="image-container"></div>
    </div>
</article>
<style>
    * {
        margin: 0 auto;
        box-sizing: border-box;
    }

    body {
        background-color: #f7cad9;
        margin: auto 0;
        margin-left: 5%;
        margin-right: 5%;
    }

    h1 {
        font-size: 6rem;
        font-family: obviouslybold;
        color: #283ea4;
        z-index: 1;
    }

    h2 {
        font-size: 2rem;
        font-family: obviouslybold;
        text-transform: uppercase;
        color: #283ea4;
        z-index: 1;
    }

    .section1_grid {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 10px;
    }

    .img1 {
        width: 60%;
        position: absolute;
        top: 10%;
        left: -15%;
        z-index: 2;
    }

    .img2 {
        width: 60%;
        position: absolute;
        top: 22%;
        left: 50%;
        z-index: 2;
        rotate: 180deg;
    }

    .overskrift1 {
        grid-column: 2 / span 3;
        grid-row: 1 / span 2;
        padding-top: 25%;
        padding-left: 19%;
    }

    .overskrift2_overst {
        padding-top: 10%;
        grid-column: 1 / span 2;
        grid-row: 1;
        padding-right: 34%;
    }

    .image-container {
        width: 100%;
        grid-column: 1 / span 2;
        grid-row: 1 / span 3;
        margin-top: 39%;
    }

    .line_overskrift1 {
        height: 4px;
        width: 111%;
        grid-row: 3;
        grid-column: 3 / span 2;
        margin-top: 3%;
        background: linear-gradient(to right, #FC4D5C, #283EA4) no-repeat 0 0/100% 100%;
        z-index: 1;
    }

    .line_overskrift2 {
        width: 66%;
        height: 4px;
        grid-row: 1;
        grid-column: 1 / span 3;
        margin-top: 16%;
        margin-left: -16%;
        background: linear-gradient(to right, #FC4D5C, #283EA4) no-repeat 0 0/100% 100%;
        z-index: 1;
    }

    .underoverskrift1 {
        grid-row: 3;
        grid-column: 3 / span 2;
        margin-top: 10%;
        font-family: "Handlee", cursive;
        font-size: 3rem;
        color: #FC4D5C;
        z-index: 1;
    }

    /* section2 */
    .section2_grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        gap: 10px;
    }

    .alberte_historie1 {
        grid-row: 1 / span 2;
        grid-column: 2 / span 2;
        padding-top: 5%;
    }

    .image-container {
        height: 72%;
        background-size: cover;
        animation: changeImage 1s infinite;
    }

    @keyframes changeImage {
        0%, 33.33% {
            background-image: url("../img/alberte_sektion1.png");
        }
        33.34%, 66.66% {
            background-image: url("../img/alberte_sektion1_2.png");
        }
        66.67%, 100% {
            background-image: url("../img/alberte_sektion1_3.png");
        }
    }

    @font-face {
        font-family: "obviouslybold";
        src: url("../fonts/webfontkit-20240423-025318/obviously-bold-webfont.woff2") format("woff2");
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: "obviouslybold_italic";
        src: url("../fonts/webfontkit-20240423-025318/obviously-bolditalic-webfont.woff2") format("woff2");
        font-weight: normal;
        font-style: normal;
    }

    .handlee-regular {
        font-family: "Handlee", cursive;
        font-weight: 400;
        font-style: normal;
    }

</style>
